html {
  scroll-snap-type: y mandatory;
}

.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #111;
}

.app__top {
  display: grid;
  place-items: center;
}

.app__top > h3 {
  text-align: center;
  color: white;
}

.app__logo {
  height: 12vh;
}
.app__videos {
  scroll-snap-type: y mandatory;
  position: relative;
  height: 78vh;
  background-color: white;
  width: 70%;
  max-width: 400px;
  border-radius: 20px;
  max-height: 1200px;
  overflow-y: scroll;
  
}

.app__videos::-webkit-scrollbar {
  display: none;
}
.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
